html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.wiki-bg{
    position: relative;
    background: radial-gradient(
            circle at center,
            #3b0f46 0%,
            #2f0b38 40%,
            #1a0520 75%,
            #0d0312 100%
    );
    color: #eee;
    font-family: Arial, sans-serif;
    overflow-y: auto; 
    overflow-x: hidden; 
}

body.wiki-bg::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    mix-blend-mode: overlay;
    opacity: 0.22;
    background:
            url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'>\
 <filter id='n'>\
  <feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' seed='7'/>\
  <feColorMatrix type='saturate' values='0'/>\
 </filter>\
 <rect width='100%%' height='100%%' filter='url(#n)'/>\
</svg>");
    background-size: 320px 320px;
}

.Tuerca-img{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-5%, -5%);
    width: 10%;
}
.tituloIndex{
    font-family: orbitron;
    font-style: oblique;
}
.OBS{
    width: 200px;
    flex-shrink: 0;
}
.OBSContainer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0px;
}
.DescripcionOBS{
    flex: 1;
    max-width: 500px;
}



.streamerbotcontainer{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    align-items: center; 
    gap: 2rem; 
    order: 1;
    padding: 0 15px;
}

.streamerbot{
    width: 200px; 
    flex-shrink: 0;
    order: 2;
}

.descripcionStreamerbot{
    flex: 1; 
    max-width: 500px;
}
.chatbots{
    width: 250px;
    flex-shrink: 0;
}
.chatbotsContainer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0px;
}
.chatbotsDescripcion{
    flex: 1;
    max-width: 500px;
}
.discordContainer{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 2rem;
    order: 1;
    padding: 0 15px;
}

.discord{
    width: 200px;
    flex-shrink: 0;
    order: 2;
}

.discordDescripcion{
    flex: 1;
    max-width: 500px;
}


.herramientas{
    width: 250px;
    flex-shrink: 0;
}
.herramientasContainer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0px;
}
.herramientasDescripcion{
    flex: 1;
    max-width: 500px;
}